@font-face {
    font-family: 'Intro';
    src: url('/assets/font/Intro/Intro\ Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.header {
    display: flex;
    height: 40px;
    background-image: url(/assets/img/browser.png);
    background-repeat: no-repeat;
}

.header__advantages,
.header__buyng {
    padding-left: 8rem;
    align-self: center;
    font-style: normal;
    font-family: Helvetica, arial, sans-serif;
    font-size: 1.25rem;
    color: #5222D0;

}

.header__advantages--link,
.header__buyng--link {
    text-decoration: none;
}

.subtitle {
    padding-top: 90px;
    padding-left: 5rem;
    display: flex;
    height: 2.6rem;
}

.subtitle__logo--circle {
    width: 2.6rem;
    background-image: url(/assets/img/Ellipse6.png), url(/assets/img/Ellipse3.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    mix-blend-mode: multiply;
    background-blend-mode: darken;
}

.subtitle__logo--viar {
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: 10rem;
}

.subtitle__cart {
    margin-left: 30rem;
    width: 8rem;
}

.subtitle__cart--violet {
    height: 2rem;
    width: 8rem;
    background-color: #5222D0;
    border-radius: 5rem;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color: seashell;

}

.container {
    margin-left: 5rem;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr 5rem;
    grid-template-areas:
        "section a"
        "section a"
        "ft a";
    text-align: justify;
}

.container__section {
    grid-area: section;
    font-family: Intro, Arial, Helvetica, sans-serif;
}

.container__aside {
    margin-left: 2rem;
    grid-area: a;
    background-image: url(/assets/img/pic.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.container__footer {
    grid-area: ft;
    align-items: flex-end;
    display: grid;
    grid-template-columns: (4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "op buy dl hp";
}

.section__title {
    text-align: left;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 0.5rem;
}

.section__text {
    font-weight: bold;
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    font-size: medium;
}

.section__btn {
    width: 6rem;
    height: 2rem;
    background-color: #5222D0;
    border-radius: 5rem;
    color: snow;
}

.container__footer--opport {
    grid-area: op;
}

.container__footer--buy {
    grid-area: buy;
}

.container__footer--deliv {
    grid-area: dl;
}

.container__footer--help {
    grid-area: hp;
}